<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload')>
    <script>
        document.addEventListener("DOMContentLoaded", function(){indexMap(<%=@averages[0]%>,<%=@averages[1]%>,<%=@positions%>)});
    </script>
<% end %>

<h1>Listing Places</h1>

<%= link_to 'New Restaurant', new_place_path %>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th></th>
    </tr>

    <% @places.each do |place| %>
        <tr>
            <td><%= place.title %></td>
            <td><%= place.text %></td>
            <td><%= link_to 'Show', place_path(place) %></td>
            <td><%= link_to 'Edit', edit_place_path(place) %></td>
            <td><%= link_to 'Destroy', place_path(place), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
<table>

<p>
    <div id='indexMap'></div>
</p>