<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload')>
    <script>
        document.addEventListener("DOMContentLoaded", function(){indexMap(<%=@averages[0]%>,<%=@averages[1]%>,<%=@positions%>)});
    </script>
<% end %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <span class="navbar-text"><h5>RestoMap Places</h5></span>
    <div class="navbar-collapse collapse order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Log-In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign-up</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 10px">
    <div class="row">
        <div id="upperInfo" class="col-sm-4">
            <ul class="list-group">
            <% @places.each do |place| %>
                <li class="list-group-item align-items-left">
                    <%= place.title %><br>
                    <span class="badge badge-info"><%= place.text %></span><br>
                    <%= link_to 'Show', place_path(place) %>
                    <%= link_to 'Edit', edit_place_path(place) %>
                    <%= link_to 'Destroy', place_path(place), method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
            <% end %>
            </ul>
            <%= link_to 'New Restaurant', new_place_path %>
        </div>
        <div id="mapZone" class="col-sm-8">
            <div class="">
                <div id="indexMap" class=""></div>
            </div>
        </div>
    </div>
</div>