<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload')>
    <script>
        document.addEventListener("DOMContentLoaded", function(){indexMap(<%=@averages[0]%>,<%=@averages[1]%>,<%=@positions%>)});
    </script>
<% end %>
<div class="container-fluid" style="margin-top: 10px">
    <div class="row">
        <div id="upperInfo" class="col-sm-4">
            <ul class="list-group">
            <% @places.each do |place| %>
                <li class="list-group-item align-items-left">
                    <%= place.title %><br>
                    <span class="badge badge-info"><%= place.text %></span><br>
                    <%= link_to 'Show', place_path(place) %>
                    <%= link_to 'Edit', edit_place_path(place) %>
                    <%= link_to 'Destroy', place_path(place), method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
            <% end %>
            </ul>
            <%= link_to 'New Restaurant', new_place_path %>
        </div>
        <div id="mapZone" class="col-sm-8">
            <div class="">
                <div id="indexMap" class=""></div>
            </div>
        </div>
    </div>
    <%= map(:center => { :latlng => [51.52238797921441, -0.08366235665359283], :zoom => 18, :max_zoom => 4 }) %>
</div>